body {
    padding: 0px;
    margin: 0px;
}

#page-grid {
    display: grid;
    background-color: bisque;
    height: 100vh;
    align-items: center;
    padding-left: 15px;
    grid-template-columns: 33% 67%;
    /* grid-gap: 10px; */
}

#side-bar {
    width: 100%;
    background-color: royalblue;
    margin-left: 0px;
    padding: 0px;
    display: flex;
    height: 97vh;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    grid-column: 1/1;
    border-radius: 25px;
}

#main-body { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2/3;
    background-color: bisque;
    margin: 0px;
    padding: 0px;
    
}

#game-table { 
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; */
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}

.table-button { 
    background-color: beige;
    border-color: transparent;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin: 3px;
    padding: 15px;
    font-size: 60px;
    text-align: center;
    min-width: 150px;
    min-height: 150px;
    border-radius: 5px;
}

#game-reset-button { 
    font-size: 25px;
    margin-top: 20px;
}

.name-field { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-name-input { 
    font-size: 40px;
    width: 300px;
    margin: 15px;
}